<div class="ui menu">
  <div class="header item">
    Memory
  </div>
  <a class="item">
    Dashboard
  </a>
  <a class="item">
    Tests
  </a>
  <a class="item">
    Network
  </a>
  <div class="right menu">
    <a class="item">
      FAQ
    </a>
    <a class="item">
      My Profile
    </a>
  </div>
</div>